@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --linaria-theme_palette-rausch: #FF385C;
    --linaria-theme_palette-bebe: #EBEBEB;
    --linaria-theme_palette-rausch-contrast: #de3655;
}
